
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /repo-github/wordpress-vue-masonry/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /repo-github/wordpress-vue-masonry/index.php [L]
</IfModule>

# END WordPress
